*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'DINNext', sans-serif;
  color: #242424;
  display: flex;
  margin: 64px 165px; }

.sidebar {
  margin-left: 95px;
  flex: 0 1 250px; }
  .sidebar__container {
    position: -webkit-sticky;
    position: sticky;
    top: 64px; }
  .sidebar__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px; }
  .sidebar__list {
    list-style: none; }
  .sidebar__item {
    border-left: 4px solid #EAEAE9;
    padding: 8px 12px; }
  .sidebar__link {
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #797878; }

.active {
  border-left: 4px solid #0093B2 !important; }
  .active a {
    font-weight: 500;
    color: #242424; }

.faq {
  margin-left: 80px;
  flex-shrink: 2; }
  .faq__space {
    height: 100vh;
    background-color: orangered; }
  .faq__section {
    margin-top: 48px; }
  .faq__topic {
    font-weight: 500;
    font-size: 28px;
    line-height: 125%;
    color: #242424; }
    .faq__topic:before {
      background: green;
      height: 25px;
      display: block;
      content: ''; }
  .faq__content {
    height: 500px;
    background-color: green; }
