*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #2A3039;
}

.header {
	background-color: orangered;
	height: 88px;
	margin-bottom: 72px;
	position: -webkit-sticky;
		position: sticky;
		top: 0px;
		z-index: 5;
}

.container {
	display: flex;
}


.sidebar {
	margin-left: 95px;
	flex: 0 1 250px;
	
	&__container {
		position: -webkit-sticky;
		position: sticky;
		top: 128px;
	}
	
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 125%;
		margin-bottom: 5px;
	}

	&__list {
		list-style: none;
	}
	
	&__item {
		border-left: 3px solid #EAEAE9;
		padding: 8px 12px;		
		// transition: border-left 5s;
	}
	
	&__link {
		text-decoration: none;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: #8091A5;
	}
}

.active {
	border-left: 3px solid #0093B2 !important;

	a {
		font-weight: 600;
		color: #2A3039;
	}
}

.faq {
	margin-left: 80px;
	flex-shrink: 2;

	&__heading {
		font-weight: 600;
		font-size: 48px;
		line-height: 125%;
		margin-bottom: 8px;
	}

	&__description {
		font-size: 24px;
		line-height: 125%;
		color: #8091A5;
		margin-bottom: -8px;

	}

	&__section {
		margin-bottom: 20px;
	}

	&__topic {
		padding-top: 64px;
		margin-top: -64px;
		font-weight: 600;
		font-size: 32px;
		line-height: 125%;
		margin-bottom: 16px;

		&:before {
			// background: green;
			height: 52px;
			display: block;
			content: '';
		  }
	}

	&__content {
		// background-color: lightblue;
		// height: 500px;
	}

	&__question {
		list-style-type: none;
		position: relative;
		padding-left: 20px;

		&::before {
			background-color: #c5d2d8;
			border-radius: 50%;
			content: '';
			height: 5px;
			left: 0;
			position: absolute;
			top: .9em;
			transform: translateY(-50%);
			width: 5px;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__link {
		font-weight: normal;
		font-size: 20px;
		line-height: 125%;
		/* identical to box height, or 22px */

		border-bottom: 1px dotted #5b9fef;
		text-decoration: none;
		color: #4A90E2;
	}
}

.footer {
	margin-top: 72px;
	height: 300px;
	background-color: yellowgreen;
}